.pTest{
    color: red;
    font-size: 18px;

}
.p2{
    margin-top: 15px;
    color: green;
    font-size:15px;
}
.p3{
    margin-top: 15px;
    font-size: 16px;
    color: blue;
}
.span1{
    color: darkorange;
}
.p4{
    margin-top: 20px;
    font-size: 13px;
    color: orange;
}